{% extends '../layout.njk' %}

{% block head %}
    <title>Create - Gym Manager</title>
{% endblock head %}

{% block content %}
    <form class="card" action="/instructors" method="POST">
        <section class="card-image">
        </section>
        <section class="card-details">

            <h2>Novo instrutor</h2>

            {% include 'instructors/fields.njk' %}

        </section>
    </form>

{% endblock content %}