{% extends "layout.njk" %}

{% block content %}
    <div class="card index-table">

        <div class="header">
            <a href="/instructors/create">Novo</a>

            <form action="/instructors" method="get">
                <input 
                    type="text"
                    name="filter"
                    placeholder="Nome ou especialidade"
                    value={{ filter }}
                >
                <button type="submit">Filtrar</button>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Especialidades</th>
                    <th>Alunos</th>
                    <th>Acao</th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                <tr>
                    <td>
                        <span style="background-image: url({{ instructor.avatar_url }})"></span>
                        {{ instructor.name }}
                    </td>
                    <td>{{ instructor.services }}</td>
                    <td>{{ instructor.total_students }}</td>
                    <td><a href="/instructors/{{ instructor.id }}" >Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

