<h3>Editar instrutor</h3>

    <div class="item">
        <div>Avatar</div>
        <input 
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{ member.avatar_url }}"
        >
    </div>

    <div class="item">
        <div>Membro</div>
        <input 
            type="text"
            name="name"
            value="{{ member.name }}"
        >
    </div>

    <div class="item">
        <div>Email</div>
        <input 
            type="email"
            name="email"
            value="{{ member.email }}"
        >
    </div>

    <div class="item">
        <div>Data de nascimento</div>
        <input 
            type="date"
            name="birth"
            value="{{ member.birth }}"
        >
    </div>

    <div class="item">
        <div>Sexo</div>
        <div>
            <span>
                <input 
                    type="radio" 
                    name="gender" 
                    value="M" 
                    {% if member.gender == "M" %}
                    checked
                    {% endif %}
                > Masculino</span>
            <span>
                <input 
                    type="radio" 
                    name="gender" 
                    value="F"
                    {% if member.gender == "F" %}
                    checked
                    {% endif %}
                >Feminino
            </span>
        </div>
    </div>

    <div class="item">
        <div>Tipo Sanguineo</div>
        <div>
            <input 
                type="text" 
                name="blood"
                value="{{ member.blood }}"
            >
        </div>
    </div>

    <div class="item">
        <div>Peso (kg)</div>
        <div>
            <input 
                type="number" 
                name="weight"
                value="{{ member.weight }}"
            >
        </div>
    </div>

    <div class="item">
        <div>Altura (cm)</div>
        <div>
            <input 
                type="number" 
                name="height"
                value="{{ member.height }}"
            >
        </div>
    </div>

    <button type="submit">Salvar</button>
