{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section style="background: url({{ member.avatar_url }}) no-repeat center center / cover"></section>
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Membro</div>
                <div>{{ member.name }}</div>
            </div>

            <div class="item">
                <div>Email</div>
                <div>{{ member.email }}</div>
            </div>

            <div class="item">
                <div>Aniversario</div>
                <div>{{ member.birth }}</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>{{ "Masculino" if member.gender == "M" else "Feminino" }}</div>
            </div>

            <div class="item">
                <div>Tipo sanguineo</div>
                <div>{{ member.blood }}</div>
            </div>

            <div class="item">
                <div>Peso (kg)</div>
                <div>{{ member.weight }}</div>
            </div>

            <div class="item">
                <div>Altura (cm)</div>
                <div>{{ member.height }}</div>
            </div>

            <div class="item">
                <div>Aluno de</div>
                <div>{{ member.instructor_name }}</div>
            </div>

            <div class="button">
                <a href="/members/{{ member.id }}/edit">Editar</a>
            </div>

        </section>
    </div>
{% endblock content %}

